<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>главная страница</h1>
    <form method="post" action="/check-user"> <!--прописать method post для отправки -->
        <input type="text" name="username" placeholder="имя пользователя"> <!--прописать имя , чтобы потом обращаться к инпуту-->
        <button type="submit">поиск</button>
    </form>
    
</body>
</html>